.menu-smallScreen {
  display: flex;
  z-index: 9999;
  position: relative;
 
}
.menu--dropdown {
    display: flex;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    max-height: 100%;
    font-size: 2rem;
    padding: 0 20px;
    transition: right ease-in-out 0.35s;
    z-index: -1;
    top: 0;
    position: relative;
    background-color: white;
  }

  .menu--dropdown.show {
    max-height: 100%;
    position: relative;
   
  }
  .menu--dropdown.hide {
    display: none;
  }
  .cross.hide,
  .hamburger.hide {
    display: none;
  }
 