.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("./photos/SaeTomas4.jpeg");
    background-attachment: scroll;
    background-size: cover;
    margin-bottom: 30px;
 

    /* opacity: 0.5; */

   
}
.banner-text {
  position: relative; 
  font-family: 'Dancing Script', 'Alex Brush';
  font-size: 120px; 
  color: #fa6704; 
  /* mix-blend-mode: color-dodge; */
  position: absolute;
  top: 50%;
  left: 50%;;
  transform: translate(-50%, -50%);
  font-weight: 600; 
}
.heart-icon {
  position: absolute;
  top: 70%;
  left: 50%;;
  transform: translate(-50%, -50%);
}
