.honeymoon-banner2 {
  width: 100%;
  height: 100vh;
  background-image: url('./photos/saetomas_elefante.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}