.honeymoon-banner2 {
  width: 100%;
  height: 100vh;
  background-image: url('https://picscasamentosaetomas.s3-sa-east-1.amazonaws.com/saetomas_elefante.65d1914c.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
  .honeymoon-banner2 {
    width: 100%;
    background-position: 50% 75%;
    background-size: cover;
    margin-bottom: 50px;
  }

}
@media only screen and (max-width: 780px) {
  .honeymoon-banner2 {
    width: 100%;
    background-position: 50% 75%;
    background-size: cover;
    margin-bottom: 50px;
  }

}
@media only screen and (max-width: 620px) {
  .honeymoon-banner2 {
    width: 100%;
    background-position: 50% 75%;
    background-size: cover;
    margin-bottom: 50px;
  }

}
@media only screen and (max-width: 330px) {
  .honeymoon-banner2 {
    width: 100%;
    background-position: 50% 75%;
    background-size: cover;
    margin-bottom: 50px;
  }
}