.couple {
  background-color: rgb(247, 247, 247);
  max-width: 100%;
  height: 100%;
  padding: 50px 180px;
  display: flex;
  flex-direction: column;
 
}

/* .heart-icon--couple {
  padding: 0 15px;
  align-self: center;
} */
.couple-content{
  display: flex;
  justify-content: space-around;
  width: 100%;
    height: 100%;
}
.couple-img {
  object-fit: cover;
  background-color: #FFF;
  border: 20px solid #FFF;
  height: 415px;
  width: 312px;
}
.couple-img:hover {
  cursor: pointer;
}
.couple-text {
  margin: 18px 45px;
  text-align: justify;
  color: #557777;
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: 1.6;
  font-family: 'Source Sans Pro';
}
.couple-details-1 {
  display: flex;
  flex-direction: column;
}
.couple-details-2 {
  display: none;
}
.couple-name {
  text-align: center;
  padding-top: 10px;
  font-size: 1.5rem;
  color: #882211;
  font-weight: 600;
  font-family: 'Source Sans Pro'
}

@media only screen and (max-width: 1024px) {
  .couple {
    padding: 50px 70px;
  }
  .couple-content{
    display: flex;
    flex-direction: column;
  }
  .couple-details-1 {
    display: none;
  }
  .couple-details-2 {
    display: flex;
    flex-direction: column;
  }
  .couple-img-full {
    object-fit: cover;
    background-color: #FFF;
    border: 20px solid #FFF;
    width: 100%;
    height: 100%;
  }
  .couple-text {
    margin: 0;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 780px) {
  .couple {
    padding: 50px 70px;
  }
  .couple-content{
    display: flex;
    flex-direction: column;
  }
  .couple-details-1 {
    display: none;
  }
  .couple-details-2 {
    display: flex;
    flex-direction: column;
  }
  .couple-img-full {
    object-fit: cover;
    background-color: #FFF;
    border: 20px solid #FFF;
    width: 628px;
    height: 464px;
  }
  .couple-text {
    margin: 0;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 620px) {
  .couple {
    padding: 10px;
  }
  .couple-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .couple-details-1 {
    display: none;
  }
  .couple-details-2 {
    display: flex;
    flex-direction: column;
  }
  .couple-img-full {
    object-fit: cover;
    background-color: #FFF;
    border: 20px solid #FFF;
    width: 100%;
    height: 263px;
  }
  .couple-text {
    margin: 0;
    padding: 50px 15px 50px 15px;
  }
}
@media only screen and (max-width: 330px) {
  .couple {
    padding: 10px;
  }
  .couple-content{
    display: flex;
    flex-direction: column;
  }
  .couple-details-1 {
    display: none;
  }
  .couple-details-2 {
    display: flex;
    flex-direction: column;
  }
  .couple-img-full {
    object-fit: cover;
    background-color: #FFF;
    border: 20px solid #FFF;
    width: 300px;
    height: 500px;
  }
  .couple-text {
    margin: 0;
    padding: 50px 15px 50px 15px;
  }
}