.madrinhas {
  width: 100%;
  height: 100%;
  padding: 50px 100px 70px 100px;
  background-color: rgb(247, 247, 247);
}

.madrinhas-content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  justify-items: center;
  padding: 50px 0;
}
.padrinhos-content {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  justify-items: center;
  margin: 0 130px;
  padding: 50px 0;
}

.madrinhas-each {
  display: flex;
  flex-direction: column;
}
.madrinhas-photo {
  width: 220px;
  height: 220px;
  background-color: #FFF;
  border: 10px solid #FFF;
  /* border-radius: 50%; */
}
.madrinhas-name {
  padding-top: 30px;
  text-align: center;
  font-family:'Source Sans Pro';
  color: #557777;
  font-weight: 600;
  font-size: 1.3rem;
}
.padrinhos-name {
  padding-top: 30px;
  text-align: center;
  font-family:'Source Sans Pro';
  font-weight: 600;
  font-size: 1.3rem;
  color: #557777;
}

@media only screen and (max-width: 1024px) {
  /* .madrinhas {
    width: 100%;
    height: 100%;
    padding: 50px 40px 70px 40px;
    background-color: rgb(247, 247, 247);
  }
  .padrinhos-content{
    margin: 0 65px;
  } */

}
@media only screen and (max-width: 780px) {
  .madrinhas {
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgb(247, 247, 247);
  }
  .padrinhos-content{
    margin: 0 65px;
  }
  .component-title.small-screens {
    font-size: 3.9rem;
  }

}
@media only screen and (max-width: 620px) {
  .madrinhas-content{
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 0;
  }
  .padrinhos-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 0;
    padding: 0;
  }
  .madrinhas-name,
  .padrinhos-name {
    padding: 10px 0 40px 0;
  }
  .component-title.small-screens {
    font-size: 2rem;
  }

}
@media only screen and (max-width: 330px) {
  .madrinhas-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 0;
  }
  .padrinhos-content {
    display: grid;
    grid-template-columns: repeat(1, auto);
    margin: 0;
    padding: 0;
  }
  .component-title.small-screens {
    font-size: 2rem;
  }
}