.menu {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-self: center;
  width: 100%;
  background-color: white;
  justify-content: center;
  padding: 10px 0;
  
}
.menu.sticky {
  position: sticky;
  background-color: white;
  transition: 1s;
  z-index: 9999;
  top: 0
}
.heart-icon--menu{
  align-self: center;
}


@media only screen and (max-width: 780px) {
  .heart-icon--menu{
    /* display: none; */
  }
  .menu {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 620px) {
 
  
}
@media only screen and (max-width: 330px) {
  .menu {
    display: none;
  }
}