.menu--item {
  color: #557777;
  font-size: 1.25rem;
  align-self: center;
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-weight: 600;
  padding: 10px 20px;
}

.menu--item--style:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 700;
}
.menu-item--name {
  align-self: center;
  font-family:'Source Sans Pro', "Noto Sans", "Roboto Condensed", "Acme", "Changa One";
}


@media only screen and (max-width: 780px) {
  .menu--item {
    color: #557777;
    font-size: 1rem;
    padding: 10px;
    
  }
}
@media only screen and (max-width: 620px) {
  .menu--item {
    color: #557777;
    padding: 6px;
  }
}
@media only screen and (max-width: 330px) {
  .menu--item {
    color: #557777;
    padding: 6px;
  }
}