.rsvp {
  width: 100%;
  height: 100%;
}
.rsvp-content {
  background-color: rgb(247, 247, 247);
  padding: 50px 100px 70px 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.rsvp-title {
  font-size: 60px;
}

.rsvp-form {
  width: 100%;
  justify-content: center;
}
.foot {
  background-color: #FF9F55;
  display: flex;
  color: #6E6E86;
  padding: 20px;
  height: 70px;
  justify-content: center;
  align-content: center;
}