.honeymoon-card--pic {
  width: 300px;
  height: 250px;
}

.price-text{
  padding-top: 20px;
}
.dados-bancarios {
  margin: 50px;
  display: flex;
  justify-content: center;
}
.indice,
.conteudo_banco,
.conteudo_nome,
.conteudo_agencia,
.conteudo_conta {
  padding: 5px;
  font-size: 1.1rem;
}
.conteudo_banco {
  color: #882211;
  
}
.conteudo_banco,
.conteudo_nome,
.conteudo_agencia,
.conteudo_conta {
  font-weight: 600;
}


@media only screen and (max-width: 620px) {
  .dados-bancarios {
   margin: 0 0 30px 0;
  }
  .indice,
  .conteudo_banco,
  .conteudo_nome,
  .conteudo_agencia,
  .conteudo_conta {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 320px) {
  .dados-bancarios {
    margin: 0 0 30px 0;
   }
   .indice,
    .conteudo_banco,
    .conteudo_nome,
    .conteudo_agencia,
    .conteudo_conta {
    font-size: 0.8rem;
  }
 
}