.honeymoon {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  
}
.honeymoon-banner {
  width: 100%;
}
.honeymoon-content {
  padding: 50px 100px 70px 100px;
  justify-content: space-around;
}
.honeymoon-text {
  margin: 0 80px 30px 80px;
  text-align: center;
  color: #557777;
  font-size: 1.4rem;
  letter-spacing: 1px;
  line-height: 1.6;
  font-family: 'Source Sans Pro';
}
.honeymoon-cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(4, auto);
  justify-items: center;
  row-gap: 5rem;
}
.honeymoon-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.honeymoon-card--title {
  text-align: center;
  padding: 15px;
  color: #882211;
  font-weight: 500;
  font-size: 1.1rem;
}
.price-text {
  color: #557777;
  font-size: 0.9rem;
  padding-bottom: 10px;
}
.price-value {
  font-size: 1.1rem;
  text-align: center;
}
.honeymoon-card--price,
.honeymoon-card--button {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  color: #557777;
  font-size: 1.1rem;
}

@media only screen and (max-width: 1024px) {
  .honeymoon-text {
    margin: 0 30px;
    text-align: justify;
  }
  .honeymoon-content {
    padding: 50px 30px 70px 30px;
  }
}
@media only screen and (max-width: 780px) {
  .honeymoon-text {
    margin: 0 30px;
    text-align: justify;
  }
  .honeymoon-content {
    padding: 50px 30px 70px 30px;
  }
  .honeymoon-cards {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 620px) {
  .honeymoon-text {
    margin: 0 10px;
    text-align: justify;
  }
  .honeymoon-content {
    padding: 50px 10px 70px 10px; 
  }
}
@media only screen and (max-width: 330px) {
  .honeymoon-text {
    margin: 0 10px;
  
  }
  .honeymoon-content {
    padding: 50px 10px 70px 10px;
    
  }
  .honeymoon-cards {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 2rem;
  }
 
}

